.features__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 0 0 40px 0;
}

.features__subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.features__into {
  display: flex;
  flex-direction: column;
}

.features__video {
  position: relative;
  padding: 50px 0;
}

.features__play-button {
  position: absolute;
  top: 42.5%;
  left: 42.5%;
  width: 60px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.features__item-img {
  max-width: 60px;
}

.features__item-title {
  width: 214px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
}

.features__item-text {
  width: 251px;
  text-align: center;
  font-size: 18p;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
}

@media (min-width: 1000px) {
  .features__video {
    order: 2;
    padding-bottom: 0;
  }

  .features__list {
    max-width: 869px;
    margin: 0 auto;
    padding: 80px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1777px) {
  .features__video img {
    max-width: 1050px;
  }
}