.header {
  position: relative;
  z-index: 1;
}

.header__background {
  background-image: url("./../img/header//header-background.png");
  /* linear-gradient(#2e2f328c, #1f202299), */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 237px;
}

.header__logo-img {
  width: 206px;
  height: 78px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 80px 0;
}

.header__nav-icon {
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-out;
  z-index: 2;
}

.header__nav-icon::before {
  content: '';
  top: 7px;
  right: 0;
  width: 75%;
  ;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #fff;
  transition: all 0.2s ease-out;
}


.header__nav-icon::after {
  content: '';
  top: -7px;
  right: 0;
  width: 125%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.header__nav-list {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  top: -100vh;
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: 1;
}

.header.nav-visible .header__nav-list {
  top: 3px;
}

.header.nav-visible .header__background,
.header.nav-visible .header__nav-list {
  background-color: rgba(0, 0, 0, 0.9);
}

.header.nav-visible .header__nav-icon::before {
  width: 100%;
  top: 0;
  transform: rotate(45deg);
}

.header.nav-visible .header__nav-icon {
  background: transparent;
}

/* .header.nav-visible .header__nav-icon::before, */
.header.nav-visible .header__nav-icon::after {
  width: 100%;
  top: 0;
  transform: rotate(-45deg);
}

.header__nav-list a {
  position: relative;
  color: #fff;
}

.header__nav-list a::before {
  content: '';
  bottom: -4px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  color: #fff;
  opacity: 0.8;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.header__nav-list a:hover::before {
  transform: scaleX(1);
  background: #fff;
  cursor: pointer;
}

.header__social-media {
  display: none;
}

.header__subtitle--hidden {
  display: none;
}

.burger {
  width: 26.67px;
  height: 16px;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.header__title-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 47px;
  color: var(--hero-color);
  text-align: center;
  letter-spacing: 0.2px;
}

.header__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
}

.header__subtitle {
  width: 100%;
  max-width: 265px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.header__button {
  width: 100%;
  max-width: 236px;
  height: 52px;
  line-height: 52px;
}

@media (min-width: 600px) {
  .header {
    position: static;
  }

  .burger{
    display: none;
  }

  .header__nav-list {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: auto;
    height: auto;
    padding: 20px 0 0 0;
  }
}

@media (min-width: 1000px) {
  .header__logo {
    order: 1;
  }
  .header__social-media {
    display: flex;
    order: 3;
  }
  .header__social-media {
    display: flex;
    gap: 20px;
  }
}