.partners__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-items: center;
}

.partners__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
}

.partners__subtitle {
  width: 100%;
  max-width: 285px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.partners__items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.partners__button {
  width: 100%;
  max-width: 236px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
}

.partners__hidden {
  display: none;
}

@media (min-width: 1000px) {
  .partners__hidden {
    display: block;
  }
  .partners__items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
  .partners__items img {
    width: 25%;
    height: 163px;
  }
}

@media (min-width: 1777px) {
  .partners__items {
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  .partners__items img {
    width: 273px;
    height: 163px;
  }
}