@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --hero-color: white;
  --button-background: #2091f9;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

iframe {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 378px;
  margin: 0 auto;
}

.section {
  padding: 50px 0 80px 0;
}

.header {
  background-image: url("./img/header/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 237px;
}

.header__logo-img {
  width: 206px;
  height: 78px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 80px 0;
}

.header__nav-list {
  display: none;
}

.header__social-media {
  display: none;
}

.header__subtitle--hidden {
  display: none;
}

.burger {
  width: 26.67px;
  height: 16px;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.header__title-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 47px;
  color: var(--hero-color);
  text-align: center;
  letter-spacing: 0.2px;
}

.header__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
}

.header__subtitle {
  width: 100%;
  max-width: 265px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.button {
  display: block;
  background: #2091f9;
  color: var(--hero-color);
  text-align: center;
  border-radius: 35px;
}

.header__button {
  width: 100%;
  max-width: 236px;
  height: 52px;
  line-height: 52px;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.features__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 0 0 40px 0;
}

.features__subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.features__video {
  position: relative;
  padding: 50px 0;
}

.features__play-button {
  position: absolute;
  top: 42.5%;
  left: 42.5%;
  width: 60px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.features__item-img {
  max-width: 60px;
}

.features__item-title {
  width: 214px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
}

.features__item-text {
  width: 251px;
  text-align: center;
  font-size: 18p;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
}

.fastest-way__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.fastest-way__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
}

.fastest-way__subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.faster-way__button {
  width: 100%;
  max-width: 236px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-items: center;
}

.subscribe__title-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.subscribe__supertitle {
  width: 214px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
}

.subscribe__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
}

.subscribe__subtitle {
  width: 100%;
  max-width: 285px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.subscribe__img {
  width: 100%;
  max-width: 389px;
  margin: 0 auto;
}

.subscribe__form-block {
  display: flex;
  flex-direction: column;
}

.subscribe__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 60px 0;
}

.subscribe__call-to-action {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
}

.subscribe__offer {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
}

.subscribe__form-element {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe__form-input {
  display: block;
  border-radius: 35px;
  width: 100%;
  max-width: 353px;
  height: 54px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  background-color: #f4f4f4;
  font-size: 14px;
}

.subscribe__form-button {
  width: 100%;
  max-width: 353px;
  height: 54px;
  font-size: 20px;
  border: none;
}

.partners__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-items: center;
}

.partners__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
}

.partners__subtitle {
  width: 100%;
  max-width: 285px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.partners__items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.partners__button {
  width: 100%;
  max-width: 236px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-items: center;
}

.testimonials__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
}

.testimonials__text {
  width: 297px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.91px;
  letter-spacing: 0.17px;
  text-align: center;
}

.testimonials__client {
  display: flex;
  gap: 20px;
}

.testimonials__client-img {
  width: 43px;
  height: 43px;
}

.testimonials__client-author {
  font-size: 11px;
  font-weight: 700;
  line-height: 15.22px;
  letter-spacing: 0.08px;
}

.testimonials__client-job-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.17px;
}

.testimonials__button {
  width: 100%;
  max-width: 276px;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.pricing {
  background: #252B42;
  color: #fff;
}

.pricing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-items: center;
}

.pricing__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
}

.pricing__subtitle {
  width: 100%;
  max-width: 285px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.pricing__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pricing__item {
  width: 300px;
  background-color: #fff;
  color: #252B42;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.pricing__item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.pricing__item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;
  width: 144px;
}

.pricing__item-amount {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pricing__item-sum {
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.2px;
}

.pricing__item-current {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.pricing__item-period {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
}

.pricing__item-offers {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.pricing__item-button {
  width: 255px;
  height: 56px;
  border: none;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.pricing__item--standart {
  background-color: #2091f9;
  color: #fff;
  border: solid 1px #fff;
}

.pricing__item-button--standart {
  background-color: #fff;
  color: #2091f9;
}

.contacts__container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 0 0 30px 0;
}

.contacts__subtitle {
  width: 100%;
  max-width: 285px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.contacts__social-media {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.contacts__communication {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 70px 0;
}

.contacts__address,
.contacts__phone,
.contacts__email {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contacts__address-text,
.contacts__phone-text,
.contacts__email-text {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
}

.contacts__data {
  width: 100%;
  max-width: 370px;
  box-shadow: 0px 13px 19px 0px #00000012;
  border: 1px solid #DDDDDD;
  padding: 50px;
}

.contacts__data-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
  padding: 0 0 45px 0;
}

.contacts__form-element {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  align-items: center;
}

.contacts__form-input {
  /* width: 100%; */
  width: 280px;
  height: 54px;
  border-radius: 39px;
  border: solid 1px lightgray;
  background-color: #F5F5F5;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  padding: 20px;
}

.contacts__form-textarea {
  /* width: 100%; */
  width: 280px;
  height: 193px;
  border: solid 1px lightgray;
  background-color: #F5F5F5;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  padding: 20px;
}

.contacts__form-button {
  width: 145px;
  height: 56px;
  border: none;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.footer {
  background: #252B42;
  color: #fff;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.footer__pages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__container {
  width: 100%;
  max-width: 300px;
}

.footer__contacts-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer__contacts-address,
.footer__contacts-phone {
  display: flex;
  align-items: center;
  padding: 0 0 20px 0;
}

.footer__text {
  padding: 0 0 0 10px;
}